h1 {
  font-size: 50px;
}
h3 {
  font-size: 20px;
}
.flexible-container {
  display: flex;
}
section {
  padding-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.orange {
  color: orange;
}
.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(salmon, red);
  padding: 10px 40px;
  border-radius: 10px;
}
.first-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
#right-padding {
  padding-right: 5%;
  text-align: justify;
}
.second-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.shadow {
  box-shadow: 5px 10px 20px gray;
}
.flexible-container div {
  width: 40%;
  margin: 0 auto;
  padding: 50px;
}
#first-box:first-child {
  border-image: linear-gradient(red, tomato);
  border-left: 8px solid;
  border-image-slice: 1;
}
#second-box:last-child {
  border-left: 8px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
.third-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left center;
}
